.app {
  display: flex;
  flex-direction: row; /* ensure the main axis is horizontal */
  align-items: stretch; /* align items in the cross axis */
  height: 100vh; /* make the app fill the entire viewport */
  width: 100vw;
}

#external-events {
  order: -1; /* move the external events list to the left */
  background-color: lightblue;
  margin: 10px; /* add some margin between the events and the calendar */
  padding: 10px;
  flex: 1;
}

#my-calendar {
  background-color: lightcoral;
  margin: 10px;
  padding: 10px;
  flex: 3;
}
