.dayRapper{
    position:relative;
    float: left;
    margin-left:4.28%;
    height:22%;
    width:10%;
    justify-content:center;
    align-items: center;
    top:13%;
}
.day{
    
    width:60px;
    height:60px;
    top: 25%;
    justify-content:center;
    align-items: center;
    border-radius: 100%;
    background-color:white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.day[selected]{background-color: rgb(176, 104, 180);}
.day h1{
    margin:0;
    top:10%;
    position:relative;
    text-align: center;
    line-height: 2.6   ;
    font-family: Inter;
    font-size: 16px;
}
.dayRapper .daytitle{
    position: relative;
    margin-bottom:0;
    margin-top:0;
    line-height: 3;
    right: 10px;
    text-align: center;
    font-size:16px;
    color:#8C8C8C;
    font-family:Inter;
}