.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;
}

#external-events {
  order: -1;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
  flex: 1;
}

#calendar {
  background-color: lightcoral;
  margin: 10px;
  padding: 10px;
  flex: 3;
}
