/* Base styles */
.app {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  gap: 20px;
}

button,
.calendar-nav-button,
#submit-event-button {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button,
#submit-event-button {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #d0d0d0;
}

.day-button {
  font-weight: 500;
  width: 50px;
  height: 50px;
  margin: 10px;
}

#calendar-container {
  flex: 1;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-nav-button {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  box-shadow: none;
}

.calendar-nav-button:hover {
  background-color: transparent;
  box-shadow: none;
}

.week-day-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#external-events {
  order: -1;
  width: 300px;
  padding: 15px;
  text-align: center;
  justify-content: center;
}

#external-events h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  #calendar-container,
  #external-events {
    width: 100%;
    margin-bottom: 20px;
  }
}

textarea,
input,
select {
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 10px;
  box-sizing: border-box;
}

textarea:focus,
input:focus,
select:focus,
button:focus {
  outline: 1px solid gray;
}

.calendar-nav-button:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#submit-event-button {
  width: 50px;
  height: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Modal overlay */
.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Could be more or less, depending on screen size */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* For positioning the close button absolutely */
}

/* The Close Button */
.close-button {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Input fields in the modal */
.modal input[type='text'],
.modal input[type='time'] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

/* Submit button in the modal */
.modal #submit-event-button {
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal #submit-event-button:hover {
  background-color: #45a049;
}

/* Cancel button in the modal */
.modal #cancel-event-button {
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Modal header */
.modal-header h2 {
  margin: 0;
}

/* Modal body */
.modal-body {
  margin: 15px 0;
}
